name: "Publish"

# on:
#   push:
#     tags:
#       # Publish on any tag starting with a `v`, e.g., v0.1.0
#       - v*


# build the documentation whenever a new push is made
on:
  push:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python 3.13
        run: uv python install 3.13

      # Dynamically update the version in pyproject.toml based on the tag
      - name: Set version from tag
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          sed -i "s/^version = .*/version = \"${TAG#v}\"/" pyproject.toml
          cat pyproject.toml  # Debug: Check the updated version

      - name: Build
        run: uv build
      # Check that basic features work and we didn't miss to include crucial files
      - name: Smoke test (wheel)
        run: uv run --isolated --no-project --with dist/*.whl tests/test_base.py
      - name: Smoke test (source distribution)
        run: uv run --isolated --no-project --with dist/*.tar.gz tests/test_base.py
      - name: Publish
        run: uv publish